@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "font-awesome-4.2.0/font-awesome";
@import "css3mixins";
@import "mediaelementplayer";


/*
A custom Bootstrap 3.1 template
from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/
$smooth: #390f63;
$smooth-light: lighten($smooth, 15%);
.container-fluid {
	overflow-x: hidden;
}
.navbar-fixed-top {
	border-width:0 0 0px;
}
.text-shadow {
	@include text-shadow(0px, 7.5px, 30px, $smooth-light);
}
.img-shadowed {
	@include box-shadow(0px, 7.5px, 30px, $smooth-light);
	margin: auto;
	text-align: center;
}

@keyframes shadowbright {
    from { 
		@include text-shadow(0px, 7.5px, 30px, $smooth-light);
	}
    50% { 
		@include text-shadow(0px, 7.5px, 60px, lighten($smooth-light, 30%));
     }
    to { 
		@include text-shadow(0px, 7.5px, 30px, $smooth-light);
	}
}
 
@-webkit-keyframes shadowbright {
    from { 
		@include text-shadow(0px, 7.5px, 30px, $smooth-light);
	}
    50% { 
		@include text-shadow(0px, 7.5px, 60px, lighten($smooth-light, 30%));
     }
    to { 
		@include text-shadow(0px, 7.5px, 30px, $smooth-light);
	}
}
.shadow-bright {
	@include animation(shadowbright 4000ms infinite);
}
html,body {
	height:100%;
	background-color: $smooth;
//    background:center no-repeat fixed url('/assets/example/bg_suburb.jpg');
    background-size: cover;
	font-family: 'Lato', sans-serif;
}

.clients.row li {
	margin-bottom: $grid-gutter-width;
	img {
		margin: auto;
	}
}
.icon-bar {
	background-color:#fff;
}

.navbar-trans {
	background-color:#279ddd;
	background-color: $smooth-light;
    color:#fff;
}

.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:lighten($smooth-light, 15%);
}

.navbar-trans a{
    color:#fefefe;
}

.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

section {
	padding-top:70px;  
    padding-bottom:50px; 
    min-height:calc(100% - 0px);
}

.v-center {
    font-size:70px;
}
.v-center.page-title,
.navbar-brand,
.Kaushan {
	font-family: 'Kaushan Script', "Marker Felt", cursive;
}
  
.well {
	border-color:transparent;
}

a.list-group-item.active,[class*='-info'] {
	background-color: #168ccc;
    color:#fff;
}
  
#section1 {
	background-color: #168ccc;
	background-color: $smooth;
    color:#fff;
    .biogs {
	    h3 {
		    font-weight: bolder;
	    }
	    p {
			font-size:1.4em;

		}
    }
}
  
#section2 {
	background-color: #e5e5ef;
    color:#090909;
}
  
#section3 {
	background-color: #168ccc;
    color:#ddd;
    small {
	    color:#fff;
    }
}

#section4 {
	background-color: #fff;
    color:#444;
    .audio_container {
	    text-align: center;
	    display:block;
	    margin: auto;
    }
}


#section5,#section7,#section7 a {
    color:#f5f5f5;
}

#section6 {
	display: none;
	background-color: #168ccc;
    color:#ddd;
}

#section7 {
	background-color:$smooth;
	color:#fff;
}
footer {
	background-color:#494949;
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding:3px;
    color:#ccc;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}


/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'FontAwesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
/*        margin: 0px 5px;
        width: 20px;
        height: 20px;*/
    }
}
#quote-carousel .carousel-indicators {
	li {
		border:none;
	}
}
.mejs-container {
	text-align: center;
	margin:auto;
	display: block;
}